/* External CSS  */
/* Selector: Bộ chọn */
/* C1: Tên thẻ */
h1 {
  color: blue;
  font-size: 32px;
  border: 1px solid black;
}
/* C2: Tên class */
.box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 50%;
}
/* C3: Tên Id */
#container {
  background-color: #a3a356;
  color: white;
}

.box-1 {
  color: saddlebrown;
}
